# High-level dependencies
fastapi[standard]
uvicorn
psycopg2-binary
SQLAlchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
fastapi-cache2[redis]
slowapi
email_validator
azure-storage-blob

# For development and testing
pip-tools
pytest
